# Absolute path to the local model directory on the host machine
ABS_MODEL_PATH=/path/to/your/llm/model

# Server connection configuration
SERVER_ADDRESS=/ip4/106.104.119.114/tcp/50004/p2p/12D3KooWDn2Z51jCjU3uE12D3KooWDn2Z51jCjU3u

# Network interface for GPU IPC and inter-node communication
IFACE=eth0

# Client Ports
CLIENT_WEB_PORT=50007
